/.project
/test_script.py
*.pyc
/dist
/build
*.egg-info
reinstall.sh
.idea
*.old
*.bak
/documentation/build/
*.ipynb_checkpoints*
doctemp.odt
tk_test.py
.venv
*.sublime-project
*.sublime-workspace
temp
/test_notebooks
